################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Quest/v15/Server/sqlite3/db.lock
/.vs/Quest/v15/Server/sqlite3/storage.ide-wal
/.vs/Quest/v15/Server/sqlite3/storage.ide-shm
.vs/Quest/v15/.suo
*.ide
.vs/Quest/v15/.suo
*.ide
*.cache
*.cache
/.vs/Quest/v16/Server/sqlite3
/.vs/Quest/v16
